@use "styles/variables" as vars;

.site-header {
  background-color: vars.$primary;
  color: white;
}
.main-nav {
  background-color: vars.$secondary;
  a,
  button {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  .font-bold {
    border-bottom: 2px solid white;
  }
}
