<div class="site-header text-center py-4 bg-primary text-white">
  <h1 class="text-3xl font-bold">Ecommerce - Shop</h1>
</div>
<nav
  class="main-nav flex items-center justify-between bg-primary-light text-white px-6 py-2"
>
  <div class="nav-left flex gap-4">
    <a routerLink="checkout" routerLinkActive="font-bold">Checkout</a>
    <a routerLink="cart" routerLinkActive="font-bold">Carrello ({{ count }})</a>
  </div>
  <div class="nav-center flex gap-4">
    <a
      routerLink=""
      routerLinkActive="font-bold"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="products" routerLinkActive="font-bold">Prodotti</a>
  </div>
  <div class="nav-right flex gap-4">
    <ng-container *ngIf="!isLogged">
      <a routerLink="login" routerLinkActive="font-bold">Accedi</a>
    </ng-container>
    <ng-container *ngIf="isLogged">
      <button (click)="logout()" class="px-3 py-1 border rounded">Esci</button>
    </ng-container>
  </div>
</nav>
