<article
  class="product-card p-4 rounded-lg bg-white shadow hover:shadow-lg transition-all flex flex-col justify-between"
>
  <img
    [src]="'assets/images/' + product.imageUrl"
    alt="{{ product.name }}"
    class="w-full h-48 object-cover mb-4"
  />
  <div class="flex-grow">
    <h3 class="font-semibold text-xl mb-2">{{ product.name }}</h3>
    <p class="text-gray-600 mb-4">{{ product.description }}</p>
  </div>
  <div class="mt-4 flex justify-between items-center">
    <span class="font-bold text-lg">€ {{ product.price }}</span>
    <button
      (click)="onAdd()"
      class="px-4 py-2 bg-primary text-white rounded w-full ml-4"
    >
      Aggiungi
    </button>
  </div>
</article>
