<form
  [formGroup]="checkoutForm"
  (ngSubmit)="onSubmit()"
  class="max-w-md mx-auto space-y-4"
>
  <div>
    <label>Nome completo</label>
    <input formControlName="name" class="w-full border p-2 rounded" />
    <div
      *ngIf="
        checkoutForm.get('name')?.touched && checkoutForm.get('name')?.invalid
      "
      class="text-red-600 text-sm"
    >
      <div *ngIf="checkoutForm.get('name')?.errors?.['required']">
        Il nome è obbligatorio.
      </div>
      <div *ngIf="checkoutForm.get('name')?.errors?.['minlength']">
        Minimo 3 caratteri.
      </div>
    </div>
  </div>

  <div>
    <label>Email</label>
    <input
      formControlName="email"
      type="email"
      class="w-full border p-2 rounded"
    />
    <div
      *ngIf="
        checkoutForm.get('email')?.touched && checkoutForm.get('email')?.invalid
      "
      class="text-red-600 text-sm"
    >
      <div *ngIf="checkoutForm.get('email')?.errors?.['required']">
        L’email è obbligatoria.
      </div>
      <div *ngIf="checkoutForm.get('email')?.errors?.['email']">
        Formato email non valido.
      </div>
    </div>
  </div>

  <div>
    <label>Indirizzo</label>
    <textarea
      formControlName="address"
      rows="3"
      class="w-full border p-2 rounded"
    ></textarea>
    <div
      *ngIf="
        checkoutForm.get('address')?.touched &&
        checkoutForm.get('address')?.invalid
      "
      class="text-red-600 text-sm"
    >
      L’indirizzo è obbligatorio.
    </div>
  </div>

  <div>
    <label>Metodo di pagamento</label>
    <select formControlName="payment" class="w-full border p-2 rounded">
      <option value="card">Carta di credito</option>
      <option value="paypal">PayPal</option>
    </select>
  </div>

  <button type="submit" class="w-full py-2 rounded border font-bold">
    Conferma ordine
  </button>
</form>
